{%extends "core/base.html"%}
{%block title%} Заказы {%endblock%}
{%block content%}
    {% for order in orders %}
    <div class="card" style="width: 18rem;">
        <img src="{{order.product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{order.product}}</h5>
          <span class="card-text">{{order.address}}</span> <span>{{order.data}}</span>
          <a href="#" class="btn btn-primary">Отменить заказ</a>
        </div>
      </div>
    {%endfor%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 {%endblock%}